
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="layout">

  <nav>
    <ul>
      <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" id="logo"><img src="assets/logo.png" alt=""></li>
      <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">home</li>
      <li routerLink="quiz" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Quiz</li>
      <li routerLink="score" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Score</li>
    </ul>
  </nav>

  <div class="pages">
    <router-outlet></router-outlet>
  </div>



</div>

